<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidMatch</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jura&display=swap">
</head>
<body>



    <div class="instructions-container">
        <div class="top">
            <p>
            Welcome To VidMatch!
            </p>
        </div>
        <div class="mid">
            Congratulations! You have just been hired as an AI content recommender for our new site, VidMatch.<br>
            <br>
            We have lots of new users, but all we know about them is their name and what they look like.<br>
            Pick which videos you think each character will like the most!<br>
            <br>
            At the end, your choices will be compared with the average.
        </div>
        
        <div class="bottom">
            <div class="form-container">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name(class="form-control") }}
                        <div class="error-messages">
                            {% for error in form.name.errors %}
                                <div class="error-message">{{ error }}</div>
                            {% endfor %} 
                        </div>
                        <div class="form-group">
                            <label for="grade">Select Grade:</label>
                            <select name="grade" id="grade" class="form-control" style="margin-bottom: 10px;">
                                <option value="6">Grade 6</option>
                                <option value="7">Grade 7</option>
                                <option value="8">Grade 8</option>
                            </select>
                        </div>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
                
            </div>
        </div>

        <!-- <div class="bottom">
            <a href="{{ url_for('screen1') }}">
            <button>
                Play
            </button></a>
        </div> -->
    </div>
</body>
</html>