<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidMatch</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jura&display=swap">
</head>
<body>
    <div class="instructions-container">
        <div class="top">
            <p>
            Instructions
            </p>
        </div>
        <div class="mid">
            Click the video that you think the user will like the most!

            Your choices will be compared against other users.
        </div>
        <div class="bottom">
            <a href="{{ url_for('screen2', player_id=player_id, user_num=0, choice_num=0, clicked='-1') }}">
                <button>
                    Play
                </button>
            </a>
        </div>
    </div>
</body>
</html>