<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidMatch</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/screen1.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jura&display=swap">
    
</head> 
<body>

    <div class="main-container"> 
        <div class="left">
            <div class="left-user"></div>


        </div>
        <div class="right">

            <p class="above-video-text">
                Which video would they like?
            </p>

            <div class="video-container">

            <div class="video">
                <div id="vid1" class="thumbnail1"></div> 
                <p>[video 1]</p>                 
            </div>
            <div class="video">
                <div id="vid2" class="thumbnail2"></div> 
                <p>[video 2]</p>
            </div>
            <div class="video">
                <div id="vid3" class="thumbnail3"></div> 
                <p>[video 3]</p>
            </div>
            <div class="video">
                <div id="vid4" class="thumbnail4"></div> 
                <p>[video 4]</p>
            </div>

            </div>
        </div>
        
    </div>

    <script  type="module" src="{{url_for('static',filename='js/screen1.js')}}"></script>
    

</body>
</html>