body, html {
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
    height: 100vh;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-family: 'Jura', sans-serif;
}

.main-container {
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.left-user {
    padding: 380px;
    background-color: #FF80FF;
    border-radius: 5px;
    
}

.left {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 84px;
}
.right {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 30px 0px 30px 0px;
    justify-content: center;
}

.right .above-video-text {
    font-size: 40px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
}
 
.video {
    
    padding: 20px; /* top right bottom left */
    background-color: #FFEA80;
    margin: 15px;
    border-radius: 5px;
    border: 4px solid transparent; /* Initial border */
    transition: border-color 0.3s ease; /* Transition for smooth effect */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.video:hover {
    border-color: #333;
}



.thumbnail1 {
    padding: 100px 160px 100px 160px; /* top right bottom left */
    background-color: #FFFFFF;
}
.thumbnail2 {
    padding: 100px 160px 100px 160px; /* top right bottom left */
    background-color: #FFFFFF;
}
.thumbnail3 {
    padding: 100px 160px 100px 160px; /* top right bottom left */
    background-color: #FFFFFF;
}
.thumbnail4 {
    padding: 100px 160px 100px 160px; /* top right bottom left */
    background-color: #FFFFFF;
}

.video p {
    align-self: center;
    text-align: center;
}

.thumbnail1 {
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your preference */
}

.thumbnail2 {
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your preference */
}

.thumbnail3 {
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your preference */
}

.thumbnail4 {
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your preference */
}

.left-user {
    background-image: url('/static/images/users/0.png');
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your preference */
}