body, html {
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
    height: 100vh;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-family: 'Jura', sans-serif;
}

.main-container {
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.left-user {
    padding: 30px;
    background-color: #FF80FF;
    border-radius: 5px;
    
}

.left {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 84px;
}
.right {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 30px 0px 30px 0px;
    justify-content: center;
}

.right .above-video-text {
    font-size: 40px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
}
 
.video {
    
    width: 360px;
    height: 320px;
    background-color: #FFEA80;
    margin: 10px;
    transition: border-color 0.3s ease; /* Transition for smooth effect */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 24px;
}

.video:hover {
    border-color: #333;
}


.break-word {
    margin: 00px 20px 20px 20px;
    text-align: center;
    line-height: 1.5em; /* Set the desired line height */
    height: 3em; /* Height is 2x line-height, so two lines will display */
    overflow: hidden; /* Prevents extra lines from being visible */
    overflow-wrap: break-word;
}



.thumbnail {
    padding: 20px 20px 20px 20px; /* top right bottom left */
    background-color: #FFEA80;
}

.video p {
    align-self: center;
    text-align: center;
}

.left-user {
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your preference */
}