body, html {
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
    height: 100vh;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-family: 'Jura', sans-serif;
}

.main-container {
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.user-picture {
    padding: 360px;
    background-color: #FF80FF;
    border-radius: 5px;
    
}

.left {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-40px);
    
}

.left p {
    font-size: 50px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0px);
}

.results-container-table {
    display: flex;    
    padding: 30px 0px 30px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(30px);
}
 
.results-container-holder {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px 50px; /* top right bottom left */
    background-color: #D9D9D9;
    margin: 7px;
    border-radius: 5px;
    border: 4px solid transparent; /* Initial border */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.scrollbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -25px;
    transform: translateX(-180px);
}

.scrollbar-container p {
    margin-bottom: 5px;
}

.triangle {
  width: 0;
  border-left: 11.547px solid transparent;
  border-right: 11.547px solid transparent;
  border-bottom: 20px; 
  transform: rotate(180deg); 
}

.results-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-bottom .left-triangle {
    width: 0;
    border-left: 11.547px solid transparent;
    border-right: 11.547px solid transparent;
    border-bottom: 20px solid black; 
    transform: rotate(90deg); 
}


.results-bottom .right-triangle {
    width: 0;
    border-left: 11.547px solid transparent;
    border-right: 11.547px solid transparent;
    border-bottom: 20px solid black; 
    transform: rotate(-90deg); 
}

.horizontal-line {
    padding: 2px 180px 2px 180px;
    background-color: black;
    margin-left: -4px;
    margin-right: -4px;
    position: relative;

}

.results-container .left-text {
    margin-right: 6px;
    color: #D9D9D9;
}

.results-container .right-text {
    margin-left: 6px;
    color: #D9D9D9;
}

.horizontal-line::before {
    /* this makes a vertical line in the middle  */
  content: '';
  position: absolute;
  top: -3px; /* Adjust as needed to protrude out of the top */
  bottom: -3px; /* Adjust as needed to protrude out of the bottom */
  left: 51%; /* Adjust as needed to position the vertical line */
  transform: translateX(-50%); /* Move the line back to the left by half its width */
  border-left: 4px solid black; /* Adjust thickness and color as needed */
  }

  .row1-triangle {
    border-bottom: 20px solid #FF80FF;
  }

  .row2-triangle {
    border-bottom: 20px solid #FF8181;
  }

  .row3-triangle {
    border-bottom: 20px solid #80D4FF;
  }

  .row4-triangle {
    border-bottom: 20px solid #FFEA80;
  }

  .row5-triangle {
    border-bottom: 20px solid #9580FF;
  }
  
  .next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    background-color: #FFEA80;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .7);
    border: 4px solid transparent; /* Initial border */
    transition: border-color 0.3s ease; /* Transition for smooth effect */
    margin-top: 10px;
    width: 525px;
}

.next-button:hover {
    border-color: #333;
}

#user-image {
    background-repeat: no-repeat;
    background-size: cover; /* or contain, depending on your preference */
}

.results-container-top {
    border-bottom: solid black 1px;
    margin-bottom: -13px;
    font-size: 28px;
}
